In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import plotly.express as px
import plotly.graph_objects as go
import re

In [4]:
url = 'https://raw.githubusercontent.com/pedrooliveirape/dio-projeto-covid-machine-learning/main/arquivos_csv/covid_19_data_new.csv'

In [5]:
df_new = pd.read_csv(url)

In [6]:
df_new

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [7]:
df_new.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [8]:
df_new = pd.read_csv(url, parse_dates=['ObservationDate', 'Last Update'])
df_new.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

In [9]:
def corrige_colunas(col_name):
    return re.sub(r"[/| ]", "", col_name).lower()

In [10]:
df_new.columns = [corrige_colunas(col) for col in df_new.columns]
df_new

,sno,observationdate,provincestate,countryregion,lastupdate,confirmed,deaths,recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,2021-05-29,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,2021-05-29,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,2021-05-29,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,2021-05-29,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [11]:
brasil_new = df_new.loc[
    (df_new.countryregion == 'Brazil') & 
    (df_new.confirmed > 0)
]
brasil_new

,sno,observationdate,provincestate,countryregion,lastupdate,confirmed,deaths,recovered
2525,2526,2020-02-26,NaN,Brazil,2020-02-26 23:53:02,1.0,0.0,0.0
2631,2632,2020-02-27,NaN,Brazil,2020-02-26 23:53:02,1.0,0.0,0.0
2742,2743,2020-02-28,NaN,Brazil,2020-02-26 23:53:02,1.0,0.0,0.0
2852,2853,2020-02-29,NaN,Brazil,2020-02-29 21:03:05,2.0,0.0,0.0
2981,2982,2020-03-01,NaN,Brazil,2020-02-29 21:03:05,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306272,306273,2021-05-29,Roraima,Brazil,2021-05-30 04:20:55,103222.0,1635.0,96188.0
306290,306291,2021-05-29,Santa Catarina,Brazil,2021-05-30 04:20:55,965277.0,15174.0,921496.0
306292,306293,2021-05-29,Sao Paulo,Brazil,2021-05-30 04:20:55,3254893.0,111123.0,2895697.0
306298,306299,2021-05-29,Sergipe,Brazil,2021-05-30 04:20:55,233932.0,5054.0,208146.0
306342,306343,2021-05-29,Tocantins,Brazil,2021-05-30 04:20:55,177464.0,2852.0,159306.0

In [12]:
brasil_new = brasil_new.groupby('observationdate').sum()
brasil_new

                     sno   confirmed    deaths   recovered
observationdate
2020-02-26          2526         1.0       0.0         0.0
2020-02-27          2632         1.0       0.0         0.0
2020-02-28          2743         1.0       0.0         0.0
2020-02-29          2853         2.0       0.0         0.0
2020-03-01          2982         2.0       0.0         0.0
...                  ...         ...       ...         ...
2021-05-25       8182819  16194209.0  452031.0  14231991.0
2021-05-26       8203474  16274695.0  454429.0  14272174.0
2021-05-27       8224129  16342162.0  456674.0  14455810.0
2021-05-28       8244784  16391930.0  459045.0  14492701.0
2021-05-29       8265439  16471600.0  461057.0  14496224.0

[459 rows x 4 columns]

In [13]:
brasil_new = brasil_new.reset_index()
brasil_new

    observationdate      sno   confirmed    deaths   recovered
0        2020-02-26     2526         1.0       0.0         0.0
1        2020-02-27     2632         1.0       0.0         0.0
2        2020-02-28     2743         1.0       0.0         0.0
3        2020-02-29     2853         2.0       0.0         0.0
4        2020-03-01     2982         2.0       0.0         0.0
..              ...      ...         ...       ...         ...
454      2021-05-25  8182819  16194209.0  452031.0  14231991.0
455      2021-05-26  8203474  16274695.0  454429.0  14272174.0
456      2021-05-27  8224129  16342162.0  456674.0  14455810.0
457      2021-05-28  8244784  16391930.0  459045.0  14492701.0
458      2021-05-29  8265439  16471600.0  461057.0  14496224.0

[459 rows x 5 columns]

In [14]:
filtro = brasil_new['observationdate'] < '2020-12-01'
brasil_new = brasil_new[filtro]
brasil_new.dtypes

observationdate    datetime64[ns]
sno                         int64
confirmed                 float64
deaths                    float64
recovered                 float64
dtype: object

In [29]:
exportar = brasil_new.to_csv("covid_brasil_2020.csv", index=False)
exportar