In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('flights_sbrf_to_sbsp.csv')

In [10]:
df

        ANO  MES EMPRESA ORIGEM DESTINO  TARIFA  ASSENTOS
0      2017    8     AZU   SBRF    SBSP   630,9         1
1      2017    8     AZU   SBRF    SBSP  937,46         1
2      2017    8     AZU   SBRF    SBSP  690,71         1
3      2017    8     AZU   SBRF    SBSP  319,51         1
4      2017    8     AZU   SBRF    SBSP   399,4         2
...     ...  ...     ...    ...     ...     ...       ...
41167  2022    7     TAM   SBRF    SBSP  857,07         1
41168  2022    7     TAM   SBRF    SBSP    584,         1
41169  2022    7     TAM   SBRF    SBSP  1124,9         2
41170  2022    7     TAM   SBRF    SBSP    961,         1
41171  2022    7     TAM   SBRF    SBSP  1049,9         2

[41172 rows x 7 columns]

In [11]:
df.isnull().sum()

ANO         0
MES         0
EMPRESA     0
ORIGEM      0
DESTINO     0
TARIFA      0
ASSENTOS    0
dtype: int64

In [12]:
df.dtypes

ANO          int64
MES          int64
EMPRESA     object
ORIGEM      object
DESTINO     object
TARIFA      object
ASSENTOS     int64
dtype: object

In [13]:
tarifas = df['TARIFA']
for i in range(len(tarifas)):
    df['TARIFA'][i] = df['TARIFA'][i].replace(',','.')
df

C:\Users\pedro\AppData\Local\Temp\ipykernel_18512\1260594942.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TARIFA'][i] = df['TARIFA'][i].replace(',','.')

        ANO  MES EMPRESA ORIGEM DESTINO  TARIFA  ASSENTOS
0      2017    8     AZU   SBRF    SBSP   630.9         1
1      2017    8     AZU   SBRF    SBSP  937.46         1
2      2017    8     AZU   SBRF    SBSP  690.71         1
3      2017    8     AZU   SBRF    SBSP  319.51         1
4      2017    8     AZU   SBRF    SBSP   399.4         2
...     ...  ...     ...    ...     ...     ...       ...
41167  2022    7     TAM   SBRF    SBSP  857.07         1
41168  2022    7     TAM   SBRF    SBSP    584.         1
41169  2022    7     TAM   SBRF    SBSP  1124.9         2
41170  2022    7     TAM   SBRF    SBSP    961.         1
41171  2022    7     TAM   SBRF    SBSP  1049.9         2

[41172 rows x 7 columns]

In [14]:
df.TARIFA = df.TARIFA.astype(float)
print(df.dtypes)

ANO           int64
MES           int64
EMPRESA      object
ORIGEM       object
DESTINO      object
TARIFA      float64
ASSENTOS      int64
dtype: object

In [15]:
df.rename(columns={'ANO':'ano','MES':'mes','EMPRESA':'empresa','ORIGEM':'origem','DESTINO':'destino','TARIFA':'precotarifa','ASSENTOS':'assentosvendidos'}, inplace=True)
df

        ano  mes empresa origem destino  precotarifa  assentosvendidos
0      2017    8     AZU   SBRF    SBSP       630.90                 1
1      2017    8     AZU   SBRF    SBSP       937.46                 1
2      2017    8     AZU   SBRF    SBSP       690.71                 1
3      2017    8     AZU   SBRF    SBSP       319.51                 1
4      2017    8     AZU   SBRF    SBSP       399.40                 2
...     ...  ...     ...    ...     ...          ...               ...
41167  2022    7     TAM   SBRF    SBSP       857.07                 1
41168  2022    7     TAM   SBRF    SBSP       584.00                 1
41169  2022    7     TAM   SBRF    SBSP      1124.90                 2
41170  2022    7     TAM   SBRF    SBSP       961.00                 1
41171  2022    7     TAM   SBRF    SBSP      1049.90                 2

[41172 rows x 7 columns]

In [16]:
df['data'] = ''
for i in range(len(df)):
    if df['mes'][i] < 10:
        df['data'][i] = f"{df['ano'][i]}-0{df['mes'][i]}-01"
    else:
        df['data'][i] = f"{df['ano'][i]}-{df['mes'][i]}-01"

C:\Users\pedro\AppData\Local\Temp\ipykernel_18512\1915777913.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['data'][i] = f"{df['ano'][i]}-0{df['mes'][i]}-01"
C:\Users\pedro\AppData\Local\Temp\ipykernel_18512\1915777913.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['data'][i] = f"{df['ano'][i]}-{df['mes'][i]}-01"

In [17]:
df['data'] = pd.to_datetime(df['data'])
print(df.dtypes)

ano                          int64
mes                          int64
empresa                     object
origem                      object
destino                     object
precotarifa                float64
assentosvendidos             int64
data                datetime64[ns]
dtype: object

In [18]:
df

,ano,mes,empresa,origem,destino,precotarifa,assentosvendidos,data
0,2017,8,AZU,SBRF,SBSP,630.90,1,2017-08-01
1,2017,8,AZU,SBRF,SBSP,937.46,1,2017-08-01
2,2017,8,AZU,SBRF,SBSP,690.71,1,2017-08-01
3,2017,8,AZU,SBRF,SBSP,319.51,1,2017-08-01
4,2017,8,AZU,SBRF,SBSP,399.40,2,2017-08-01
...,...,...,...,...,...,...,...,...
41167,2022,7,TAM,SBRF,SBSP,857.07,1,2022-07-01
41168,2022,7,TAM,SBRF,SBSP,584.00,1,2022-07-01
41169,2022,7,TAM,SBRF,SBSP,1124.90,2,2022-07-01
41170,2022,7,TAM,SBRF,SBSP,961.00,1,2022-07-01
41171,2022,7,TAM,SBRF,SBSP,1049.90,2,2022-07-01

In [19]:
df['receitapassagens'] = ''
for i in range(len(df)):
    df['receitapassagens'][i] = df['precotarifa'][i]*df['assentosvendidos'][i]
df

C:\Users\pedro\AppData\Local\Temp\ipykernel_18512\4036862342.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['receitapassagens'][i] = df['precotarifa'][i]*df['assentosvendidos'][i]

,ano,mes,empresa,origem,destino,precotarifa,assentosvendidos,data,receitapassagens
0,2017,8,AZU,SBRF,SBSP,630.90,1,2017-08-01,630.9
1,2017,8,AZU,SBRF,SBSP,937.46,1,2017-08-01,937.46
2,2017,8,AZU,SBRF,SBSP,690.71,1,2017-08-01,690.71
3,2017,8,AZU,SBRF,SBSP,319.51,1,2017-08-01,319.51
4,2017,8,AZU,SBRF,SBSP,399.40,2,2017-08-01,798.8
...,...,...,...,...,...,...,...,...,...
41167,2022,7,TAM,SBRF,SBSP,857.07,1,2022-07-01,857.07
41168,2022,7,TAM,SBRF,SBSP,584.00,1,2022-07-01,584.0
41169,2022,7,TAM,SBRF,SBSP,1124.90,2,2022-07-01,2249.8
41170,2022,7,TAM,SBRF,SBSP,961.00,1,2022-07-01,961.0
41171,2022,7,TAM,SBRF,SBSP,1049.90,2,2022-07-01,2099.8

In [26]:
df.receitapassagens = df.receitapassagens.astype(float)
print(df.dtypes)

ano                          int64
mes                          int64
empresa                     object
origem                      object
destino                     object
precotarifa                float64
assentosvendidos             int64
data                datetime64[ns]
receitapassagens           float64
dtype: object

In [31]:
df_mes = df.groupby('data').sum()

In [32]:
df_mes.drop(['ano','mes'], axis=1, inplace=True)

In [33]:
df_mes

            precotarifa  assentosvendidos  receitapassagens
data
2017-08-01    174720.60              8900        3534444.50
2017-09-01    239323.95              9015        3667510.71
2017-10-01    262390.54              9496        4068539.88
2017-11-01    206055.28              9575        3873710.01
2017-12-01    179468.00              7016        3118397.67
2018-01-01    282289.49              9853        4866377.30
2018-02-01    161638.84             11506        4555854.79
2018-03-01    229455.09             11505        4357661.74
2018-04-01    243052.82             13320        4412002.43
2018-05-01    281544.79             12355        4496027.56
2018-06-01    239180.87             12047        3825239.56
2018-07-01    363095.25             11242        4701537.61
2018-08-01    343861.91             11567        4745557.32
2018-09-01    240906.43              7832        3804854.87
2018-10-01    346703.15              7542        3695482.72
2018-11-01    378393.00             12775        4661239.90
2018-12-01    253211.80              6885        3095591.57
2019-01-01    384562.11             10844        4921080.37
2019-02-01    309541.98              7582        3967795.33
2019-03-01    219307.38              9076        3997574.67
2019-04-01    210738.60              6029        3299900.82
2019-05-01    139193.49              5100        3379475.01
2019-06-01    162710.93              5518        3812671.93
2019-07-01    274409.95              8498        5189683.00
2019-08-01    342485.30              8830        4842083.42
2019-09-01    301684.17              7183        4298085.82
2019-10-01    304931.84              6909        4893368.69
2019-11-01    260065.05             10898        5479777.06
2019-12-01    276604.96              8547        3638694.22
2020-01-01    263147.18              9677        4477833.53
2020-02-01    294834.99              6264        3484744.58
2020-03-01    255325.46              4579        2320916.98
2020-04-01     25635.51               303         107945.78
2020-05-01     36343.35               650         182906.90
2020-06-01    179710.41              5644        1419657.69
2020-07-01    172337.98              5218        1278234.26
2020-08-01    178511.65              5464        1556920.98
2020-09-01    473786.45             12692        4523769.80
2020-10-01    852354.70             18475        8409868.04
2020-11-01   1138945.73             17173        8160160.87
2020-12-01    645275.91             12692        4983752.41
2021-01-01    862126.62             12288        5868154.83
2021-02-01    638727.57              7926        4145046.69
2021-03-01    556525.72              5960        2517860.03
2021-04-01    232587.66              8184        2561882.21
2021-05-01    473030.55             10299        4120951.60
2021-06-01    419262.16             14543        4851970.55
2021-07-01    700082.08             12197        5838666.11
2021-08-01    551656.42             12875        8228130.09
2021-09-01    941223.72             16195       11024814.07
2021-10-01   1406922.56             21208       14750366.96
2021-11-01   1274413.83             27111       15674636.06
2021-12-01    588976.97             14491        7950876.08
2022-01-01    730349.11             18769        9075095.10
2022-02-01    876020.05             13666        6369862.90
2022-03-01   1017207.12             14785        8657607.23
2022-04-01   1021280.00             12637        8328500.93
2022-05-01    918400.58             13929        9362359.61
2022-06-01    825886.30             12404        7954194.28
2022-07-01    930949.56             13946        8864660.75

In [34]:
df_mes['precomediopassagens'] = ''
for c in range(len(df_mes)):
    df_mes['precomediopassagens'][c] = df_mes['receitapassagens'][c]/df_mes['assentosvendidos'][c]
df_mes['precomediopassagens'] = pd.to_numeric(df_mes['precomediopassagens'])
round(df_mes["precomediopassagens"], 2)
df_mes

C:\Users\pedro\AppData\Local\Temp\ipykernel_18512\708049715.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mes['precomediopassagens'][c] = df_mes['receitapassagens'][c]/df_mes['assentosvendidos'][c]

,precotarifa,assentosvendidos,receitapassagens,precomediopassagens
data,,,,
2017-08-01,174720.60,8900,3534444.50,397.128596
2017-09-01,239323.95,9015,3667510.71,406.823151
2017-10-01,262390.54,9496,4068539.88,428.447755
2017-11-01,206055.28,9575,3873710.01,404.565014
2017-12-01,179468.00,7016,3118397.67,444.469451
2018-01-01,282289.49,9853,4866377.30,493.898031
2018-02-01,161638.84,11506,4555854.79,395.954701
2018-03-01,229455.09,11505,4357661.74,378.762429
2018-04-01,243052.82,13320,4412002.43,331.231414
2018-05-01,281544.79,12355,4496027.56,363.903485
2018-06-01,239180.87,12047,3825239.56,317.526319
2018-07-01,363095.25,11242,4701537.61,418.211849
2018-08-01,343861.91,11567,4745557.32,410.266908
2018-09-01,240906.43,7832,3804854.87,485.808844
2018-10-01,346703.15,7542,3695482.72,489.987102
2018-11-01,378393.00,12775,4661239.90,364.872008
2018-12-01,253211.80,6885,3095591.57,449.613881
2019-01-01,384562.11,10844,4921080.37,453.806748
2019-02-01,309541.98,7582,3967795.33,523.317770
2019-03-01,219307.38,9076,3997574.67,440.455561
2019-04-01,210738.60,6029,3299900.82,547.338003
2019-05-01,139193.49,5100,3379475.01,662.642159
2019-06-01,162710.93,5518,3812671.93,690.951781
2019-07-01,274409.95,8498,5189683.00,610.694634
2019-08-01,342485.30,8830,4842083.42,548.367318
2019-09-01,301684.17,7183,4298085.82,598.369180
2019-10-01,304931.84,6909,4893368.69,708.260051
2019-11-01,260065.05,10898,5479777.06,502.824102
2019-12-01,276604.96,8547,3638694.22,425.727649
2020-01-01,263147.18,9677,4477833.53,462.729516
2020-02-01,294834.99,6264,3484744.58,556.312992
2020-03-01,255325.46,4579,2320916.98,506.861101
2020-04-01,25635.51,303,107945.78,356.256700
2020-05-01,36343.35,650,182906.90,281.395231
2020-06-01,179710.41,5644,1419657.69,251.533964
2020-07-01,172337.98,5218,1278234.26,244.966320
2020-08-01,178511.65,5464,1556920.98,284.941614
2020-09-01,473786.45,12692,4523769.80,356.426867
2020-10-01,852354.70,18475,8409868.04,455.202600
2020-11-01,1138945.73,17173,8160160.87,475.173870
2020-12-01,645275.91,12692,4983752.41,392.668800
2021-01-01,862126.62,12288,5868154.83,477.551663
2021-02-01,638727.57,7926,4145046.69,522.968293
2021-03-01,556525.72,5960,2517860.03,422.459737
2021-04-01,232587.66,8184,2561882.21,313.035461
2021-05-01,473030.55,10299,4120951.60,400.131236
2021-06-01,419262.16,14543,4851970.55,333.629275
2021-07-01,700082.08,12197,5838666.11,478.696902
2021-08-01,551656.42,12875,8228130.09,639.078065
2021-09-01,941223.72,16195,11024814.07,680.754188
2021-10-01,1406922.56,21208,14750366.96,695.509570
2021-11-01,1274413.83,27111,15674636.06,578.165175
2021-12-01,588976.97,14491,7950876.08,548.676839
2022-01-01,730349.11,18769,9075095.10,483.515110
2022-02-01,876020.05,13666,6369862.90,466.110266
2022-03-01,1017207.12,14785,8657607.23,585.566941
2022-04-01,1021280.00,12637,8328500.93,659.056812
2022-05-01,918400.58,13929,9362359.61,672.148726
2022-06-01,825886.30,12404,7954194.28,641.260422
2022-07-01,930949.56,13946,8864660.75,635.641815

In [36]:
df_mes['precomediopassagens'].describe()

count     60.000000
mean     475.877533
std      120.000466
min      244.966320
25%      396.835122
50%      464.419891
75%      550.585877
max      708.260051
Name: precomediopassagens, dtype: float64